<div class="preguntas column">
  <div class="pregunta massive ui button">¿Cuántos satélites tenemos orbitando alrededor de la tierra?</div>
  <div class="respuestas">
    <div class="column">
      <button class="boton ui teal button ">Respuesta</button>
      <button class="boton ui teal button ">Respuesta</button>
      </div>
      <div class="column">
        <button class="boton ui teal button ">Respuesta</button>
        <button class="boton ui teal button ">Respuesta</button>
      </div>
    </div>
  </div>
