.preguntas{
    margin-top: 100px;
}
.respuestas {
    margin: auto;
    margin-top: 30px;
}
.pregunta{
    cursor: auto;
    margin:20px;
    padding: 50px 40px;
    margin-bottom: 30px;
}
.boton{
    width: 300px;
    margin: 10px;
    height: 60px;
    opacity: 0.7;
}

.volver{
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.puntos{
    position: absolute;
    top:30px;
    left: 30px;
}


.contador{
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 10px;
}