<p class="bien">
    ¡bienvenido!</p>
<p class="texto"> ¿Cómo te llamas?</p>
<div class="ui right labeled left icon input">
    <i class="user icon"></i>
    <input type="text" placeholder="Ryan">
    <a class="ui tag label">
        <img class="img" src="../../assets/img/stevie.jpg" alt="">
    </a>
</div>
<div class="numericos iu buttons">
    <div class="texto">¿Con cuantas preguntas quieres jugar?</div>
    <div class="ui left icon input">
            <i class="question icon"></i>
            <input type="text" placeholder="10">
        </div>
</div>

<div (click)='handleClickJugar()' class="bienvenida massive ui teal button">JUGAR</div>
