.bienvenida{
    width: 50%;
    height: 100px;
    line-height: 60px;
    margin-top: 80px;
}
.img{
    border-radius: 50%;
}
.texto{
    margin: 50px auto 20px auto ;
    font-size: 200%;
    font-weight: bold;
    color: white;
    line-height: 1.3;
}

.bien{
    font-size: 600%;
    color: white;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 10px;
}

.numericos{
    margin-top: 30px;
}

