.boton{
    margin-top: 100px;
    width: 500px;
    height: 300px;
    font-size: 200%;
    cursor: auto;
}

.volver{
    position: absolute;
    top: 30px;
    right: 20px;
}

.res{
    text-align: left;
    font-size: 70%;
    background: lightcyan;
    width: 210px;
    padding: 10px;
}


.preg div{
    font-weight: bold;
}

.est{
    color: green
}
